.expander-item--right.expander-item {
  background-color: red;
  border: 3px dashed white;
  overflow: hidden;
}

.expander-item--right .expander-item__image-container {
  width: 1200px;
  height: 100%;
  background-image: url("assets/images/rodrigo.jpg");
  background-position: center center;
  background-size: cover;
  transform: translateX(-800px);
}
