.grid-layout {
  position: absolute !important;
  z-index: 999;
}

/* 覆盖  react-grid-layout 样式 */
.react-grid-item {
  background-color: rgba(59, 20, 20, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}
