.nav-container {
  position: absolute;
  z-index: 999;
  width: 100%;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

.nav-container a {
  color: white;
}

.nav-container li {
  display: inline-block;
  margin-right: 50px;
  padding: 0 10px;
}
